<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width", initial-scale="1.0">
        <title>Node Blog | <%=title%> <% title %>  </title>
        <link rel="stylesheet" href="/index.css">
    </head>

    <body>

        <% const name = "Tish" %>

        <div class="title">
            <!-- <h1>Home Page</h1> -->
            <h1> <%= name %> 's blog</h1>
           
        </div>
      
        <nav>
            <a href="/about">About</a>
            <a href="/new">Submit a Post</a>
        </nav>

        <h2 class="posts-title">POSTS</h2>


        <div class="post-container">
        <div class="blog-content">
            <!-- <h2>Posts</h2> -->
            <br/>
            <% if (posts.length > 0 ) { %>
                <% posts.forEach(post => { %>
                    <a class="single" href="/posts/<%= post._id %>" >
                    <h3 class="post-title"> <%= post.title %> </h3>
                    <p class="summary"><%= post.summary %></p>
                    </a>
                <% })%>

            <% } %>
        </div>
    </div>

    <%- include("./footer.ejs") %>
    </body>


</html>