<html lang="en">
    <head>
   
      
        <title>Node Blog | <%=title%> <% title %>  </title>
        <link rel="stylesheet" href="/index.css">
    </head>

<body>

    <h2 class="posts-title"> <%= post.title %> </h2>

    <%- include("./header.ejs") %>
    
    <div class="detail-content">
        <h2 class="post-title"> <%= post.title %>   </h2>
        <p class="summary"> <%= post.body %></p>
        <a class="delete-button" data-doc="<% post._id %> "><img src="/trashcan.svg" alt="trash"></a>
    </div>
    <!-- <a class="delete-button" data-doc="<% post._id %> ">Delete Post</a> -->



 

    <script>
        const eliminate = document.querySelector('a.delete-button');

        eliminate.addEventListener('click', (event) => {
            const endpoint = `/posts/<%= post._id %>`;

            fetch(endpoint, {
                method: 'DELETE',
            })
            .then(response => 
                response.json())
            .then((data) => window.location.href = data.redirect)   
            .catch(error => console.log(error));
        })

    </script>
</body>


</html>