<html lang="en">
    <head>
   
      
        <title>Node Blog | <%=title%> <% title %>  </title>
        <link rel="stylesheet" href="/index.css">
    </head>

<body>

    <nav>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/new">Submit a Post</a>
      </nav>
    
    <div class="post-content">
        <h2 class="post-title"> <%= post.title %>   </h2>
        <p class="summary"> <%= post.body %></p>
    </div>
    <a class="delete-button" data-doc="<% post._id %> ">Delete Post</a>



    <%- include("./footer.ejs") %>

    <script>
        const eliminate = document.querySelector('a.delete-button');

        eliminate.addEventListener('click', (event) => {
            const endpoint = `/posts/<%= post._id %>`;

            fetch(endpoint, {
                method: 'DELETE',
            })
            .then(response => 
                response.json())
            .then(data => console.log(data))    
            .catch(error => console.log(error));
        })

    </script>
</body>




</html>